//s-about-partners
.s-about-partners{
	@extend %paddings;

	.h3{
		text-align: center;
		margin-bottom: 1em;
	}

	.logos-slider{
		margin-bottom: 40px;
	}
}
//s-about-partners


//logos-slider
.logos-slider{
	padding: 5px 0;

	.logo{
		margin-bottom: 0;
	}
}
//logos-slider


//s-about-dir
.s-about-dir{
	@extend %paddings;
	overflow: hidden;

	.row{
		align-items: center;
	}

	.h2{
		margin-bottom: 0.8em;
	}

	.lead{
		margin-bottom: 50px;
		@include res(s){
			margin-bottom: 20px;
		}
	}

	&.anim{
		.h2{
			opacity: 0;
			transform: translate3d(-80px,0,0);
			transition: all 1s ease;
		}
		.lead{
			opacity: 0;
			transform: translate3d(-80px,0,0);
			transition: all 1s ease;
		}
		.h4{
			opacity: 0;
			transform: translate3d(-80px,0,0);
			transition: all 1s ease;
		}
		.man-frame__stripes{
			opacity: 0;
			transform: translate3d(-60px,0,0);
			transition: all 1s ease;
		}
		.man-frame__man{
			//opacity: 0;
			transform: translate3d(40px,0,0);
			transition: all 1s ease;
		}
	}
	
	&.animated{
		.h2,.lead,.h4,.man-frame__stripes,.man-frame__man{
			opacity: 1;
			transform: none;
			transition: all 1s ease;
		}
		.lead{
			transition: all 1s ease 0.2s;
		}
		.h4{
			transition: all 1s ease 0.4s;
		}
	}
}

.man-frame{
	position: relative;
	height: 702px;
	@include res(l){
		height: 500px;
	}
	@include res(s){
		height: 350px;
		margin-top: 30px;
	}
	@include res(xs){
		height: 250px;
	}

	&__stripes{
		display: block;
		position: absolute;
		left: 100px;
		bottom: 0;
		max-height: 100%;
		width: auto;
	}

	&__man{
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		max-height: 100%;
		width: auto;
	}
}
//s-about-dir


//s-about-preims
.s-about-preims{
	@extend %paddings;

	.h1{
		text-align: center;
		margin-bottom: 0.7em;
	}
}

.about-preim{
	min-height: 500px;
	position: relative;
	overflow: hidden;
	padding: 50px 0;
	display: flex;
	align-items: center;
	@include res(s){
		min-height: initial;
		padding: 30px 0;
	}

	&.anim{
		&:before{
			transition: all 1s ease;
			transform-origin: left center;
			transform: scale3d(0,1,1);
		}
		.about-preim__bg{
			transition: all 1s ease;
			transform: scale3d(1.1,1.1,1);
		}
		.about-preim__num{
			transition: all 0.3s ease;
			transform: translate3d(-50px,0,0);
			opacity: 0;
		}
		.about-preim__content{
			transition: all 0.3s ease;
			transform: translate3d(-80px,0,0);
			opacity: 0;
		}
	}

	&.animated{
		&:before{
			transform: none;
		}
		.about-preim__bg{
			transform: none;
		}
		.about-preim__num{
			transition: all 1s ease 0.3s;
			opacity: 1;
			transform: none;
		}
		.about-preim__content{
			transition: all 1s ease 0.3s;
			opacity: 1;
			transform: none;
		}
	}

	&__bg{
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;

		&--1{
			background: url("../img/about/preim-1.jpg") center center no-repeat;
			background-size: cover;
		}
		&--2{
			background: url("../img/about/preim-2.jpg") center center no-repeat;
			background-size: cover;
		}
		&--3{
			background: url("../img/about/preim-3.jpg") center center no-repeat;
			background-size: cover;
		}
	}

	&:before{
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparentize(#fd4c0e,0.22);
	}

	&__content{
		position: relative;
		z-index: 3;
		color: #FFF;
		text-align: center;
		max-width: 580px;
		margin-left: auto;
		margin-right: auto;

		.h2{
			margin-bottom: 0.3em;
		}
	}

	&__num{
		font-family: $font-title;
		font-weight: 100;
		font-size: 160px;
		line-height: 1;
		height: 160px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		z-index: 3;
		color: #FFF;
		@include res(l){
			font-size: 100px;
			height: 100px;
			left: 10px;
		}
		@include res(m){
			display: block;
			text-align: center;
			position: relative;
			font-size: 60px;
			height: 60px;
		}
		@include res(xs){
			font-size: 40px;
			height: 40px;
			margin-bottom: 10px;
		}
	}
}
//s-about-preims


//s-about-facts
.s-about-facts{
	@extend %paddings;

	.h1{
		text-align: center;
		margin-bottom: 0.7em;
	}
}

.facts-block{
	background: url("../img/about/facst-bg.jpg") center top #222632;
	background-size: auto 100%;
	color: #FFF;
	padding: 120px 0 60px 0;
	text-align: center;
	@include res(l){
		padding-top: 80px;
	}
	@include res(xs){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.facts{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 60px;
	@include res(m){
		flex-wrap: wrap;
		justify-content: center;
	}
	@include res(xs){
		margin-bottom: 20px;
	}
}

.fact{
	text-align: left;
	margin-bottom: 30px;
	flex-shrink: 1;
	padding: 0 10px;
	@include res(m){
		width: 50%;
		padding: 0 5px;
		text-align: center;
	}
	@include res(s){
		width: 100%;
		padding: 0;
		text-align: center;
	}

	&__img{
		height: 70px;
		margin-bottom: 10px;
		display: flex;
		align-items: flex-end;
		@include res(xs){
			justify-content: center;
			height: auto;
		}

		img{
			display: block;
			@include res(m){
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	strong{
		display: block;
		font-family: $font-title;
		font-weight: bold;
		font-size: 60px;
		line-height: 1;
		white-space: nowrap;
		@include res(xl){
			font-size: 50px;
		}
		@include res(l){
			font-size: 40px;
		}
		@include res(s){
			font-size: 30px;
		}

		div{
			white-space: normal;
		}
	}

	.lead{
		display: block;
		line-height: 1.3;
	}
}


.insta-link{
	display: block;
	margin-top: 80px;
	@include res(l){
		margin-top: 50px;
	}

	&__round{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		width: 65px;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FFF;
		border-radius: 50%;
		transition: all 0.3s ease;
	}

	span{
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		transition: all 0.3s ease;
	}

	&:hover{
		.insta-link__round{
			opacity: 0.8;
		}
		span{
			color: $orange;
		}
	}
}
//s-about-facts


//s-about-clients
.s-about-clients{
	@extend %paddings;

	.h2{
		text-align: center;
	}
}
//s-about-clients


//s-about-news
.s-about-news{
	@extend %paddings;
	overflow: hidden;

	&__title{
		text-align: center;
		margin-bottom: 0.7em;

		a{
			@extend %link-black;
		}
	}

	.timeline{
		margin-bottom: 60px;
		@include res(m){
			margin-bottom: 30px;
		}
		@include res(xs){
			margin-bottom: 0;
		}

		&:before{
			height: calc(100% + 60px);
			@include res(m){
				height: 100%;
			}
		}
	}
}
//s-about-news




//s-about-docs
.s-about-docs{
	@extend %paddings;
	background: url("../img/about/docs-bg.png") center top no-repeat;
	background-size: 100% auto;

	.h2{
		margin-bottom: 1em;
		text-align: center;
	}

	.doc{
		margin-bottom: 40px;
	}
}

.doc{
	display: block;
	position: relative;
	text-align: center;

	&:hover{

	}

	&__frame{
		display: inline-block;
		position: relative;
		border-top: 6px solid #f8f8f8;
		border-right: 6px solid #f8f8f8;
		border-left: 6px solid #e8e8e8;
		border-bottom: 6px solid #e8e8e8;
		box-shadow: 0 0 0 4px #d9d9d9;
		margin-bottom: 12px;
		transition: all 0.3s ease;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		&:before{
			content: '';
			width: 100%;
			height: 30px;
			background: #d9d9d9;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.6);
			border-radius: 50%;
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			z-index: -1;
		}
	}

	span{
		display: block;
		transition: color 0.3s ease;
		font-size: 14px;
		line-height: 1.3;
	}

	&:hover,&:focus{
		outline: none;
		.doc__frame{
			box-shadow: 0 0 0 4px $orange;
			&:before{
				box-shadow: 0 0 30px 0 $orange;
			}
		}
		span{
			color: $orange;
		}
	}
}
//s-about-docs