.s-contacts{
	z-index: 2;
}

.contacts-wrapper{
	position: relative;
}

#map{
	height: 700px;
	background: #eee;
	z-index: 1;
	position: relative;
	@include res(l){
		height: 500px;
	}
	@include res(m){
		height: 400px;
	}
	@include res(xs){
		height: 250px;
	}
}

.cities-block{
	width: 40%;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);
	background: #FFF;
	padding: 40px 60px;
	overflow: hidden;
	@include res(m){
		position: relative;
		width: 100%;
		top: initial;
		transform: none;
	}
	@include res(xs){
		padding: 20px $gutter;
	}

	&__lines{
		position: absolute;
		right: -100px;
		top: 0;
		z-index: 0;
		width: 629px;
		height: auto;
		user-select: none;
		pointer-events: none;
		@include res(xl){
			right: -250px;
		}
		@include res(m){
			right: -150px;
			opacity: 1;
		}
		@include res(xs){
			opacity: 0.1;
		}
	}
}

.cities-wrapper{
	position: relative;
}

.city{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	max-width: 400px;
	transform: translate3d(0,-50px,0);
	transition: all 0.4s ease;
	opacity: 0;
	visibility: hidden;

	&.active{
		position: relative;
		display: block;
		z-index: 2;
		opacity: 1;
		visibility: visible;
		transform: none;
	}

	&.hid{
		transform: translate3d(0,50px,0);
	}

	address{
		font-style: normal;
		margin-bottom: 30px;
	}

	&__info{
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 20px;
		white-space: nowrap;
		display: flex;
		align-items: center;
		@include res(l){
			font-size: 16px;
		}
		&:last-child{
			margin-bottom: 0;
		}

		i{
			display: inline-block;
			width: 40px;

			&.i-phone-old{
				font-size: 25px;
			}
			&.i-e-mail-open{
				font-size: 28px;
			}
			&.i-fax{
				font-size: 28px;
			}
		}
	}
}