$breakpoints: (
	'xxl': (max-width: 1680px),
	'xl': (max-width: 1400px),
	'l': (max-width: 1024px),
	'm': (max-width: 768px),
	's': (max-width: 680px),
	'xs': (max-width: 480px),
	'xxs': (max-width: 375px),
);

$font: 'Ubuntu', Arial, sans-serif;
$font-title: 'PF DinText Pro', Arial, sans-serif;
$font-icons: 'gesem' !important;

$color-text: #222632;
$orange: #ff5211;
$grey-light: #e2e2e2;
$grey-text: #6d6d6d;

$container_width: 1232px;

$gutter: 12px;