.s-footimg{
	z-index: -1;
	user-select: none;
	pointer-events: none;

	img{
		display: block;
		width: 100%;
		height: auto;
	}

	&--clients{
		img{
			margin-top: -11%;
		}
	}

	&--partners{
		img{
			margin-top: -19%;
		}
	}

	&--projects{
		img{
			margin-top: -11%;
		}
	}

	&--services-root{
		img{
			margin-top: -35%;
		}
	}

	&--contacts{
		img{
			margin-top: -13%;
		}
	}
}