.service-territory-sec {
	@extend %paddings;
}
.service-territory {
	.h1 {
		text-align: center;
	}
	.lead-big{
		margin-top: 2em;
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@include res(m){
			margin-top: 1em;
		}
	}
}

.service-territory__map {
	display: block;
	margin: 0 auto;
	text-align: center;
	.download-link {
		position: relative;
		bottom: 90px;
		@include res(s) {
			bottom: 0px;
		}
	}
	img {
		position: relative;
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}